/* Bottom menu --------------------------------------- */
.hd{
  position: fixed;
  z-index: 100;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  background: #fff;
}
#infoMenu li a {
  color: #fff;
}
.menu-bar{
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.menu-bar > .fa-bars{
  color: #f1510f;
}
input {
  display: none;
}
.banner{
  position: relative;
  font-weight: normal;
}
.bnr-fade{
  width: 100%;
}
.bnr-fade:focus{
  outline-width: 0;
}
.banner-1, .banner-2, .banner-3{height: 640px; background-position: top right; background-size: cover;}
.banner-1{background-image: url("../img/banner_1.jpg");}
.banner-2{background-image: url("../img/banner_2.jpg");}
.banner-3{background-image: url("../img/banner_3.jpg");}
.bnr-home{
  position: relative;
  width: 100%;
  right: 0;
  /*min-height: 600px;*/
}

.bnr-ttl{
  display: block;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(0% , -50%);
  font-size: 4vw;
  color: #f1510f;
  line-height: 1.2;
  text-align: left;
}
.btn-bnr{
  font-size: 1rem;
  color: #f1510f;
  position: absolute;
  bottom: 2%;
  z-index: 12;
}
.btn-bnr > i{
  margin-left: .5rem;
}
.desc{
  color: #707070;
}
.home-ttl{
  font-size: 1.5rem;
  color: #f1510f;
  padding: 8px 0;
}
.slick-dots li button::before{
  content: '■';
  font-size: 16px;
  color: #a3a3a3;
}
.slick-dots li.slick-active button:before{
  color: #f1510f !important;
  opacity: 1;
}
/*-------- Service --------*/
.pg-ttl{
  margin: 1rem 0rem 1rem 0rem;
  color: #707070;
  font-size: 1.5rem;
  font-weight: bold;
}
/* Tab  */
.tab-content{width: 100%}
#tabService{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  /*margin-bottom: 3rem;*/
}

.nav-tabs{
  border: none;
}
.nav-link{
  font-size: 1.5rem;
  color: #707070;
}
.nav-link:hover{
  color: #f1510f !important;
  border: none;
}
.nav-link.active{
  color: #f1510f !important;
  border: none;
  border-bottom: 3px solid #f1510b !important;
  background-color: transparent !important;
}
.tab-desc{
  /*display: flex !important;*/
}
.tab-img{
  width: 100%;
  /*margin-right: 2rem;*/
}

.tab-ttl{
  /*color: #f1510f;*/
  color: #101010;
  font-size: 1.6rem;
}
.read-more{
  font-size: .9rem;
  padding-bottom: .5rem;
}
.read-more > i{
  margin-left: 1rem;
}

.slide-card{
  margin: .5rem !important;
}

.card-ttl{
  padding-top: .5rem;
  font-size: 1.4rem;
}

.card-desc{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  margin: 0;
  margin-bottom: 8px;
  color: #707070;
  font-size: 1rem;
}
.slick-prev:before, .slick-next:before{
  color: #909090;
}

.article-item{
  border: none;
  padding: .5rem 1.25rem;
  font-size: 1rem;
  color: #707070;
}
@media only screen and (max-width: 768px) {
  .banner-1, .banner-2, .banner-3{
    height: 400px;
  }
  .bnr-ttl{
    font-size: 2rem !important;
    color: #707070 !important;
  }
  .bnr-home {
    /*width: auto;*/
    object-fit: contain;
    height: 400px;
  }
}