
@font-face {
    font-family: "SF Pro";
    src: url(".././etc/font/SF-UI-Display-Regular.otf") format("opentype");
}
@font-face {
    font-family: "SF Pro";
    src: url(".././etc/font/SF-UI-Display-Bold.otf") format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: "SF Pro";
    src: url(".././etc/font/SF-UI-Display-Light.otf") format("opentype");
    font-style: italic;
}
font-face {
    font-family: "SF Pro";
    src: url(".././etc/font/SF-UI-Display-Black.otf") format("opentype");
    font-weight: bolder;
}
* body {
    font-family: 'SF Pro',-apple-system,BlinkMacSystemFont,Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  }
a {
    color: #707070;
    text-decoration: none;
}

a:hover, a:focus {
    color: #f15f10;
    text-decoration: none;
}
*:focus{
    outline-width: 0;
    outline: none;
}
